# Dependencias
node_modules/
/.pnp
.pnp.*

# Build
/.next/
/out/
/build
next-env.d.ts

# Entorno
.env
.env*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
.idea/

# Misc
*.pem
/coverage
.vercel
/.turbo
tsconfig.tsbuildinfo
